<div class="col-md-12">
  <div class="card card-container">
    @if (currentUser) {
    <header class="jumbotron">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
    </header>
    <form name="form">
      <div class="form-group">
        <label for="username">firstName</label>
        <input
          type="text"
          class="form-control"
          name="firtName"
          value="{{ currentUser.firstName }}"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="username">lastName</label>
        <input
          type="text"
          class="form-control"
          name="lastName"
          value="{{ currentUser.lastName }}"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="username">Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          value="{{ currentUser.email }}"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="username">Rol</label>
        <input
          type="text"
          class="form-control"
          name="rol"
          value="{{ currentUser.role }}"
          disabled
        />
      </div>
    </form>

    } @else {
    <p>Please login.</p>
    }
  </div>
</div>
